{% extends 'base.html' %}
{% load static %}


  {% block section %}
           <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Product</h1>
            <p class="lead text-body-secondary">
              Something short and leading about the collection below—its
              contents, the creator, etc. Make it short and sweet, but not too
              short so folks don’t simply skip over it entirely.
            </p>
            <p>
              {% comment %} <a href="#" class="btn btn-primary my-2">Main call to action</a>
              <a href="#" class="btn btn-secondary my-2">Secondary action</a> {% endcomment %}
            </p>
          </div>
        </div>
  {% endblock %}
Total Product : {{ product|length }}

{% block content %}

  <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in products%}
            <div class="col">
              <div class="card shadow-sm">
               <img src="{% static product.image.url %}" class="bd-placeholder-img card-img-top"/>
                <div class="card-body">
                    <p ></p>

                    {% autoescape off %}
                    <p class="card-text">{{ product.name }}</p>
                    <p class="card-text">price : {{ product.price }}</p>
                    <p class="card-text">{{ product.description }}</p>
                    {% endautoescape %}

                    <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        Detail
                      </button>
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-secondary"
                      >
                        <a href="{% url 'core:cart_add' product.id%} " >Add<a/>
                      </button>
                    </div>
                    <small class="text-body-secondary">
                    {% spaceless %}
                        {% if product.discount > 0 %}
                        {{ product.discount }}
                        {% endif %}
                    {% endspaceless %}
                    </small>
                  </div>
                </div>
              </div>
            </div>

            {%endfor%}
             </div>
        </div>
      </div>
{% endblock %}
